[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.19.1"
fcache = "==0.4.7"
mmh3 = "==2.5.1"
apscheduler = "==3.5.3"

[dev-packages]
mimesis = "*"
mypy = "*"
pylint = "*"
pytest = "*"
#pytest-benchmark = "*"
pytest-cov  = "*"
pytest-flake8 = "*"
pytest-html  = "*"
pytest-runner  = "*"
pytest-rerunfailures  = "*"
pytest-xdist = "*"
responses = "*"
sphinx = "*"
coveralls = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pytest tests/unit_tests"
