[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
fcache = "*"
mmh3 = "*"
apscheduler = "*"

[dev-packages]
mimesis = "*"
mypy = "*"
pylint = "*"
pytest = "*"
#pytest-benchmark = "*"
pytest-cov  = "*"
pytest-flake8 = "*"
pytest-html  = "*"
pytest-runner  = "*"
pytest-rerunfailures  = "*"
pytest-xdist = "*"
responses = "*"
coveralls = "*"
bumpversion = "*"
twine = "*"
mkdocs = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pytest --cov UnleashClient tests/unit_tests tests/specification_tests"
