[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov  = "*"
pytest-flake8 = "*"
pytest-html  = "*"
pytest-runner  = "*"
pytest-rerunfailures  = "*"
pytest-xdist = "*"
responses = "*"
sphinx = "*"

[requires]
python_version = "3.7"
