# App packages
APScheduler
fcache
importlib_metadata
mmhash3
python-dateutil
requests
semver

# Development packages
# - Testing
black
coveralls
isort
mimesis
mypy
pytest
pytest-cov
pytest-html
pytest-mock
pytest-xdist
responses
ruff
tox

# - Testing ()
blinker

# - Tooling
setuptools_scm
twine

# - Docs
enum-tools[sphinx]
m2r2
sphinx
sphinx-rtd-theme

# - Typing
types-requests
