# App packages
APScheduler
importlib_metadata
mmhash3
python-dateutil
niquests
semver
yggdrasil-engine

# Development packages
# - Testing
black
coveralls
isort
mimesis==4.1.3
mypy
pylint
pytest
pytest-cov
pytest-html==4.0.0rc4
pytest-mock
pytest-xdist
pytest-asyncio
responses
ruff
tox

# - Testing ()
blinker

# - Tooling
build
setuptools_scm
twine
