name: CI

on:
  push:
  pull_request:

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: "3.7"
      - name: Install packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python setup.py install
      - name: Linting
        run: |
          mypy UnleashClient --install-types --non-interactive
          pylint UnleashClient
      - name: Unit tests
        run: |
          py.test tests/unit_tests
      - name: Download test cases
        run: git clone --depth 5 --branch v4.2.2 https://github.com/Unleash/client-specification.git tests/specification_tests/client-specification
      - name: Specification tests
        run: |
          py.test --no-cov tests/specification_tests
      - name: Send coverage to Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          coveralls --service=github
      - name: Notify Slack of pipeline completion
        uses: 8398a7/action-slack@v2
        with:
          status: ${{ job.status }}
          author_name: Github Action
        env:
          GITHUB_TOKEN: ${{ secrets.github_slack_token }}
          SLACK_WEBHOOK_URL: ${{ secrets.slack_webhook }}
        if: ${{ github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name }} && (success() || failure())

  tox:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ["3.7", "3.8", "3.9", "3.10"]
    steps:
      - uses: actions/checkout@v1
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install Tox and any other packages
        run:  |
          python -m pip install --upgrade pip
          pip install tox
      - name: Run Tox
        run: tox -e py
      - name: Notify Slack of pipeline completion
        uses: 8398a7/action-slack@v2
        with:
          status: ${{ job.status }}
          author_name: Github Action
        env:
          GITHUB_TOKEN: ${{ secrets.github_slack_token }}
          SLACK_WEBHOOK_URL: ${{ secrets.slack_webhook }}
        if: failure()
