name: Release package

on:
  release:
    types: [published]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          make install
      - name: Build package
        run: |
          make build
        env:
          TWINE_USERNAME: ${{ secrets.pypi_username }}
          TWINE_PASSWORD: ${{ secrets.pypi_password }}
      - name: Build docs
        run: |
          cd docs
          make install-docs
          make html
      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
      - name: Notify Slack of pipeline completion
        uses: 8398a7/action-slack@v2
        with:
          status: ${{ job.status }}
          author_name: Github Action
        env:
          GITHUB_TOKEN: ${{ secrets.github_slack_token }}
          SLACK_WEBHOOK_URL: ${{ secrets.slack_webhook }}
        if: always()
